{{>header}}
<div class="main-content">
    <p>Use this site to get weather!</p>

    <form action="">
        <input type="text" placeholder="Enter place to search" autofocus>
        <button type="submit">Search</button>
    </form>

    <p class="info"></p>

</div>

{{>footer}}

<script src="/js/app.js"></script>
</body>

</html>